body {
  background: cadetblue;
}

.container {
  display: flex;
  padding: 2em;
}

h1 {
  align-content: center;
}

button {
  width: 200px;
  height: 100px;
  background: rgb(214, 214, 213);
  border-radius: 40px;
  justify-content: center;
  margin-left: 100px;
}

p {
  background: darkgray;
}
